.container {
    width: 90%;
    margin: 10px auto;
}
button {
    padding: 5px;
}

.result {
    border:1px solid gray;
    padding:15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.container-fluid {
    margin: 10px auto;
    display: block;
    width: 30%;
}

.show {
    padding: 10px;
}